.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mySwiper {
    width: 80%;
    height: 80%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-pagination-bullet-active {
    background: #007aff;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: #007aff;
  }